<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <div id="app">
      <header id="header">







        <nav class="navbar navbar-fixed-top navbar-light bg-faded hidden-sm-down">
          <a href="#" class="navbar-brand">TONY CONRAD<span class="title">MUSIC & THE MIND OF THE WORLD</span></a>

          {% raw %}
          <ul class="nav navbar-nav list-inline" id="playing">
            <li class="list-inline-item nav-item">NOW PLAYING</li>
            <li class="list-inline-item nav-item song-title">{{ date }}</li>
            <li class="list-inline-item nav-item"  v-on:click="stopSong"><span class="time-elapsed">{{currentTime}}</span>/{{totalTime}}</li>
          </ul>
          {% endraw %}


          <div class="nav navbar-nav pull-xs-right">
           <a class="nav-item nav-link" href="#about">About the work...</a>
           <a class="nav-item nav-link" href="#" target="_blank">Download</a>
         </div>
        </nav>

        <section class="hidden-md-up" id="intro">
          <div class="container">
            <h1>TONY CONRAD</h1>
            <h1 class="title">MUSIC & THE MIND OF THE WORLD</h1>
            <div>In December 1976, Tony Conrad started recording "Music and the Mind of the Word," a gigantic project comprising over 150 hours of performance at the piano. <a href="#about" class="pull-xs-right">About the work...</a></div>
            <div class="clearfix"></div>
          </div>
        </section>

      </header>

      <section class="hidden-md-up" id="mobile-audio-controls">
        <div class="audio-controls">
          <button class="btn-audio previous" v-bind:class="{ 'inactive': (playing == '') || (playing == '1') }" v-on:click="previousSong({{ playing }})">{% include previous.svg %}</button>
          <button class="btn-audio play" v-show="playing == ''" v-on:click="playSong()">{% include play.svg %}</button>
          <button class="btn-audio pause" v-show="playing != ''" v-on:click="stopSong()">{% include pause.svg %}</button>
          <button class="btn-audio next"  v-bind:class="{ 'inactive': (playing == '') || (playing == numberOfTracks) }" v-on:click="nextSong({{ playing }})">{% include next.svg %}</button>
          {% raw %}
          <span class="title">{{ date }}</span>
          <div class="progress-bar">
            <div class="brand-small" style="left: {{ elapsedPercentage }}%;">
              <span class="time-elapsed">{{ currentTime }}</span>
              <span class="divider"></span>
              <span class="time-total">{{ totalTime }}</span>
            </div>
            <progress class="progress progress-info" value="{{ elapsedPercentage }}" max="100"></progress>
          </div>
          {% endraw %}
        </div>
      </section>

      <main id="main">
        <div class="container">
          {{ content }}
        </div>
      </main>

      <footer>

      </footer>


    </div>

    <div id="something">

      {% raw %}
        <input v-model="fruit" />
        <div v-on:click="changeFruit('banana')">SOMETHING! {{fruit}}</div>
      {% endraw %}

    </div>
  </body>
  <script src="/scripts/vue.min.js" charset="utf-8"></script>
  <script src="/scripts/velocity.min.js" charset="utf-8"></script>
  <script src="/scripts/music.js" charset="utf-8"></script>



</html>
